.gradle/
/.android-sdk/
/.sign/
/.idea/workspace.xml
/.idea/libraries
/data/
out/
build/
/local.properties
/workspace.properties
objectbox-windows-x64.dll

*.log
*.log.zip
*.tmp
*.bak

__pycache__/

/train_package